body {
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}
#radiator {
    color: #ffff99;
    background-color: #333333;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 5.5em;
}
#configuration {
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: right;
}
#configuration > a {
    color: #555555;
}
#configuration > a:hover {
    color: #ffffff;
}
div.doh {
    z-index: 10;
    position: absolute;
    margin: 50px 50px 50px 50px;
    cursor: pointer;
}
div.target {
    overflow: auto;
    border: 1px solid #000000;
    margin: 2px 2px 2px 5px;
    padding: 1px;
    cursor: pointer;
    word-wrap: break-word;
}
div.target.GREEN {
    color: #ffffff;
    background-color: #00aa00;
}
div.target.BROKEN {
    color: #ffffff;
    background-color: #aa0000;
}
div.target.BROKEN.marked {
    box-shadow: 0px 15px 15px rgba(253, 146, 21, 0.7) inset, 0px -15px 15px rgba(253, 146, 21, 0.7) inset;
}
div.target.UNDER_INVESTIGATION {
    color: #ffffff;
    background-color: #f87217;
}
div.target.DISABLED {
    color: #444444;
    display: none;
}
div.sponsors {
    float: right;
    margin: 5px 5px 0 0;
}
div.sponsors > img {
    padding-left: 5px;
}
div.progress-bar {
    clear: right;
    border: 1px solid #cccccc;
    margin: 2px 5px 2px 5px;
    padding: 1px;
}
div.progress-bar > div {
    height: 12px;
    background-color: #9de96f;
}
div.progress-bar > div.GREEN {
    background-color: #9de96f;
}
div.progress-bar > div.BROKEN {
    background-color: #ba3838;
}
div.progress-bar > div.UNKNOWN {
    background-color: #ffff66;
}