body {
    height: auto;
    overflow-y: visible;
}
#radiator {
    font-size: 1em;
    font-weight: normal;
}
div.target {
    cursor: pointer;
}
div.target.GREEN {
    display: none;
}
div.target.GREEN.building {
    display: block;
}
div.target.BROKEN.marked {
    box-shadow: 0px 5px 5px rgba(253, 146, 21, 0.7) inset, 0px -5px 5px rgba(253, 146, 21, 0.7) inset;
}
div.sponsors {
    margin: 1px 1px 0 0;
}
div.sponsors > img {
    padding-left: 1px;
}
div.progress-bar > div {
    height: 8px;
}