[Ci-eye Demo]
DEMO||My Product
DEMO||My Other Product

[Public Live]
JENKINS|http://ci.jenkins-ci.org|Jenkins core
HUDSON|http://hudson.magnolia-cms.com|Main
TEAMCITY|http://teamcity.jetbrains.com|Gradle