body {
    background-color: #333333;
    color: #ffffff;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}
#radiator {
    width: 100%;
    height: 100%;
    color: #ffff99;
    background-color: #333333;
    border: 0;
    font-weight: bold;
    font-family: monospace;
    font-size: 50px;
    margin: auto;
}
div.target {
    border: 1px solid #000;
    width: 98%;
    margin: 2px 5px 2px 0;
    padding: 1px 1px 1px 5px;
}
div.GREEN {
    color: #ffffff;
    background-color: #00aa00;
}
div.BROKEN {
    color: #ffffff;
    background-color: #aa0000;
}
div.DISABLED {
    color: #444444;
}
div.progress-bar {
    border: 1px solid #ccc;
    margin: 2px 5px 2px 0;
    padding: 1px;
}
div.progress-bar > div {
    background-color: #9de96f;
    height: 12px;
}