body {
    background: none repeat scroll 0 0 #333333;
    font-family: verdana,sans-serif;
    line-height: 24px;
    margin: 0;
}
#header {
    margin: 0 auto;
    width: 940px;
}
#title {
    float: left;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #777777;
}
#help {
    float: right;
    font-size: 10px;
    color: #777777;
    cursor: pointer;
}
#helptext {
    display: none;
    background: #aaaaaa;
    background: rgba(170, 170, 170, 0.7);
    border: 2px solid #ffffff;
    font-size: 13px;
    padding: 10px;
    position: fixed;
    z-index: 2;
    height: 310px;
    width: 410px;
    margin-top: 46px;
    margin-left: 504px;
    -moz-border-radius: 10px 10px 10px 10px;
}
#settingsDir {
    background: #aabbbb;
    background: rgba(170, 187, 187, 0.7);
    font-family: monospace;
    border: 1px solid #000000;
    padding: 5px;
}
#content {
    float: left;
    width: 100%;
}
#banner {
    margin: 0 auto 10px;
    width: 940px;
    height: 600px;
    background: url("/welcome.jpg") repeat scroll 0 0 transparent;
    -moz-border-radius: 10px 10px 10px 10px;
}
#footer {
    margin: 0 auto 20px;
    width: 940px;
    font-size: 10px;
    color: #777777;
    line-height: 6px;
}
#footer a {
    color: #777777;
}
#links {
    float: right;
}
#landscapelist {
    padding: 20px 0 0 0;
    display: table;
    margin: 0 auto;
    width: 40%;
}
#landscapelist ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#landscapelist li {
    margin: 0 0 3px 0;
}
#landscapelist a {
    font-size: 14px;
    padding: 0px 0px 0px 15px;
    display: block;
    color: #ffffff;
    background-color: #000306;
    opacity: 0.2;
    text-decoration: none;
}
#landscapelist a:hover {
    background: none;
}